:root {
  --font: "Manrope", sans-serif;
  --primary: #494b7d;
  --primary-medium: #474f73;
  --primary-light: #5a5c99;
  --primari-gray: #757b90;
  --primary-light-xl: #f3f6fd;
  --white: #ffffff;
  --active: #6771e4;
  --active-light: #7f88f0;
  --visited: #6874dc;
  --gray: #949cb6;
  --lightgray: #adb5cd;
  --gold: #fac250;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./inc/styles.css";
.img-parallax {
  transition: transform 6s cubic-bezier(0, 1, 0.5, 1);
}
